<a href="https://colab.research.google.com/github/sinancc/MA22C026_2023_PL/blob/main/Assignments/Assignment%204/Argument_passing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
def twice(w):
  w*=2
  print(w)
#defining twice funtion

In [45]:
v = [2,5,1]
twice(v)
print(v)
#in normal lists twice function makes copy of elements in list
#v is set as twice(v)

[2, 5, 1, 2, 5, 1]
[2, 5, 1, 2, 5, 1]

In [37]:
import numpy as np

In [38]:
y=[2,5,1]

In [44]:
arr = np.array(y)
arr
twice(arr)
print(arr)
#in numpy arrays twice function doubles each entry
#array is set as twice(arr)

[ 4 10  2]
[ 4 10  2]

In [43]:
s="sinan"
twice(s)
#strings twice
print(s)
#string is same ,since string is immutable

sinansinan
sinan